<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MojeRachunki_DataEntities" connectionString="Server=DESKTOP-93NOMA2\SQLEXPRESS;Database=MojeRachunki;Trusted_Connection=True;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>